<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <form class="form-container" id="urunEkleForm">
        <h3 class="pl-3">Ürün Ekle</h3>
        <div class="form-group pt-3 ml-3 mr-3">
            <label for="formGroupExampleInput">Ürün Adını Giriniz:</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group ml-3 mr-3">
            <label for="formGroupExampleInput2">Eklediğiniz Ürünün Fiyatı:</label>
            <input type="number" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group ml-3 mr-3">
            <label for="formGroupExampleInput">Kategori Adı:</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group ml-3 mr-3">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group ml-3 mr-3">
            <label for="formGroupExampleInput">Ürün Bilgileri Giriniz:</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group ml-3 mr-3">
            <label for="formGroupExampleInput2">Şehir Giriniz:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group ml-3 mr-3">
            <input type="file" id="urunGorselEkle" class="btn btn-dark" id="formGroupExampleInput">
        </div>
        <div class="form-group pt-4 ml-3 mr-3">
            <input type="submit" value="Ürün Ekle" class="btn btn-primary btn-block">
        </div>


    </form>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>