.form-container{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
#girisYap{
    margin: 2%;
}
#kayitOl{
    margin-top: 2%;
    margin-left: 18%;
}
#urunEkleForm{
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 15%;
}
