#girisButonu:hover{
    border-radius: 10px;
    background-color: orange ;
}
#navButtons:hover{
    border-radius: 10px;
    background-color: aqua ;;
}
body{
    background: url('/images/factory-wallpaper-3.jpg') no-repeat center center fixed;
    background-size: cover;
}
